{{!--
Navbar
--}}
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid ">
    <a class="navbar-brand text-light fs-1" href="/">Datasound</a>
    {{#if user}}
    <div class="d-flex">
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav text-center ">
          <li class="nav-item ">
            <a class="nav-link active text-light" aria-current="page" href="/profil">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/edit-profil">Account</a>
          </li>
        </ul>
      </div>
      {{!-- {{elseif connexion}} --}}
      {{else}}
      <a href="/connexion"><button type="button" class="btn btn-outline-light">Login / Register</button></a>
      
      {{/if}}
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Contactez nous</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/mail" method="post">
        <div class="modal-body">
          <label for="exampleFormControlInput1" class="form-label text-white">Votre adresse mail</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" name="mail">
          <label for="exampleFormControlInput1" class="form-label text-white">Objet</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="objet">
          <label for="message-text" class="col-form-label text-white">Message</label>
          <textarea class="form-control" rows="3" id="exampleFormControlInput1" name="message"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>