{{!--
Partial: Header-Link
--}}
<div class="container mt-4">
  <div class="row resp-link">
    <div class="col-3 d-flex justify-content-center">
      <img src="./assets/images/jazzybazz.jpeg" class="rounded-circle img-header-link box-shadow">
    </div>
    <div class="col-3 d-flex align-items-center ">
    </div>
  </div>
</div>

{{#if user}}
<div class="mt-5 text-center">
  <div class="">
    <h2>Bienvenue {{user.username}}, Connectez vous à une plateforme afin d'obtenir des informations</h2>
  </div>
</div>
{{/if}}


<div class="d-flex justify-content-evenly mt-5">
  {{!-- LINK SPOTIFY --}}
  <div class="card bg-dark text-center border-white" style="width: 18rem;">
    <img src="./assets/images/logo_spotify.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Spotify</h5>
      <p class="card-text">Connecte toi avec Spotify pour avoir tes statistiques</p>
      {{!-- <a href="#" class="btn color-spotify">Link Spotify</a> --}}
      <a href="/login" class="btn btn-spotify">Log in with Spotify</a>
    </div>
  </div>
</div>
{{!--
LINK DEEZER
<div class="card bg-dark text-center border-white" style="width: 18rem;">
  <img src="./assets/images/logo_deezer.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Deezer</h5>
    <p class="card-text">Connecte toi avec Deezer pour avoir tes statistiques</p>
    <a href="#" class="btn btn-dark border border-white">Pas Disponible</a>
  </div>
</div>

LINK SOUNDCLOUD
<div class="card bg-dark text-center border-white" style="width: 18rem;">
  <img src="./assets/images/logo_soundcloud.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Soundcloud</h5>
    <p class="card-text">Connecte toi avec Soundcloud pour avoir tes statistiques</p>
    <a href="#" class="btn btn-warning">Pas Disponible</a>
  </div>
</div>
</div>
--}}