{{!--
Partial: Header
--}}

<div class="text-light text-center mt-5">
  <h2 class="text-custom fs-1">C'est le moment</h2>
  <h3>Découvre toutes les informations sur ton profil</h3>
  {{#if user}}
  <a href="/profil"><button type="button" class="btn btn-outline-light mt-2 fs-5">Regarde tes Statistiques</button></a>
  {{else}}
  <a href="/connexion"><button type="button" class="btn btn-outline-light mt-2 fs-5">Login / Register</button></a>
  {{/if}}
</div>

<div class="text-center mt-5">
  <h3 class="text-light ">Ecoutez les Top Global</h3>
  <div class=" d-flex justify-content-evenly mt-3">
    <img src="./assets/images/damso.jpg" class="rounded-circle img-header">
    <img src="./assets/images/laylow.jpeg" class="rounded-circle img-header">
    <img src="./assets/images/gazo.jpeg" class="rounded-circle img-header">
    <img src="./assets/images/screw.jpeg" class="rounded-circle img-header">
    <img src="./assets/images/kekra.jpeg" class="rounded-circle img-header">
  </div>
</div>


<div class="container-fluid mt-200">
  <div class="row ">
    <div class="col-8 resp-home">
      <ul class="font-12 fs-3 none-list ml-200">
        <li>Disponible toute l'année</li>
        <li>Ou et quand tu veux</li>
        <li> Partagez-le avec n'importe qui</li>
        <li>Comparez vos gouts avec les autres</li>
        <li>Obtenez des rapports Mensuels</li>
      </ul>
    </div>


    {{!-- Avatar --}}
    <div class="avatar-group col-4">
      {{!-- rel --}}
      <div class="avatar">
        <img src="./assets/images/jos.jpg" alt="Avatar" class="rounded-circle img-avatar abs-1">
      </div>
      <div class="avatar">
        <img src="./assets/images/prime.jpeg" alt="Avatar" class="rounded-circle img-avatar abs-3">
      </div>
      <div class="avatar">
        <img src="./assets/images/sch.jpeg" alt="Avatar" class="rounded-circle img-avatar abs-2">
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt-210">
  <div class="row resp-home2">
    <div class="col-6 d-flex justify-content-around">
      <img src="./assets/images/mix.jpg" class="img-avatar">
      <img src="./assets/images/mix2.jpg" class="img-avatar me-2">
    </div>
    <div class="col-6 fs-3 d-flex align-items-center justify-content-center ">
      <p>Créer vos Playlists du moment</p>
    </div>
  </div>
</div>