{{!--
Partial : Ajout d'un commentaire
--}}

<!-- DEBUT ECRIRE COMMENTAIRE -->
<div class="container mt-4">
    <div class="col-md-12 row">
        <div class="col row">
            <h3 class="text-center">Laissez un commentaire</h3>

            <!-- Input + textarea Nom -->
            <div class=" text-center mt-2">
                {{!-- <form action="/comments" method="post" class="d-flex"> --}}
                    <form action="/comments" method="post" enctype="multipart/form-data">
                        <textarea class="text-center container-fluid" cols="75" rows="3" name="commentary"></textarea>
                        <div class="col-mb-12 text-center mt-3">
                            <input type="file" name="image" />
                        </div>

                        <!-- Button Envoyer -->
                        <div class="col-md-12 text-center mt-3">
                            <button type="submit" class="btn btn-outline-light">Envoyer</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>