{{!-- 
    Partials : Error 404 
--}}

    <div class="text-center my-4 ">
        <h1> Désolé mais il ya un probleme avec la page sélectionné</h1>
        <img class="img-fluid rounded-4 my-4" src="./assets/images/cartoon.gif">
        <h2 >Veuillez recharger le disque</h2>
    </div>